* {
    font-family: "Roboto", sans-serif;
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

body {
    background-color: #1D3557;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.central-box {
    background-color: #e9e9e9;
    height: 500px;
    width: 800px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

/* No cart */

.no-cart-image {
    width: 100px;
    margin: 30px 0;
}

.no-cart-text {
    font-size: 1.4rem;
    color: #E63946;
    margin: 30px 0;
}

/* Table */

.table-main {
    width: 80%;
    border: #1D3557;
    border-style: solid;
    border-width: 3px;
    border-spacing: 1px;
}


th {
    height: 30px;
    width: 50px;
    text-align: center;
}

td {
    /* use to center */
    height: 30px;
    padding: 0 15px;
    text-align: center;
    outline: dashed #1D3557 1px;
}

td:hover {
    background-color: #E63946;
    color: #e9e9e9;
}